### Python Basics

In [2]:
# Printing output

print("SHUVO")

SHUVO

#### Formatting outputs

In [3]:
# Declaring multiple variables in a single line
age, name, weight = 23, "Shuvodip", 70.5

# print("Age: " + age)
# TypeError: can only concatenate str (not "int") to str

print("Age:", age, "Years old")

print("To write a statement in two prints without newline", end=' ')
print("Define end parameter in previous print")

print("X", end='-----')
print("Y")

# Format output with "f"
print(f"{name}'s Age is {age}")

Age: 23 Years old
To write a statement in two prints without newline Define end parameter in previous print
X-----Y
Shuvodip's Age is 23

#### Taking Inputs

Inputs in python are always taken as strings.

In [4]:
name = input()

print(name)

Shuvo

In [5]:
age = input()

age = age + 4

TypeError: can only concatenate str (not "int") to str

In [6]:
# Typecast the string to int/float
age = int(input())

weight = float(input())

print(f"Age is: {age} and Weight is: {weight} Kg")

Age is: 23 and Weight is: 72.0 Kg

In [7]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))

print("Summation:", num1 + num2)

Summation: 9

#### Taking input in a single line

In [8]:
a, b, c = map(int, input().split())

print(f"A = {a}, B = {b}, C = {c}")

A = 1, B = 2, C = 3

In [9]:
a, b, c = map(int, input().split(','))

print(f"A = {a}, B = {b}, C = {c}")

A = 1, B = 2, C = 3

### Datatypes

In [10]:
a, b, s, c = 1, 1.123, "HEMLO", 5 + 6j

print(type(a), type(b), type(s), type(c))

<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

In [11]:
# Strings in python are immutable

s = "haha"
print(s)

# This is valid, since this reassignment binds s with a different pointer
s = "ahah"
print(s)

# This is not valid
s[0] = 'a'

haha
ahah

TypeError: 'str' object does not support item assignment

In [12]:
s = "hello"
s += " world"

# Here modified string creates a new strings and assigns to s pointer
print(s)

hello world

Immutable datatypes:

- int, float, complex
- str
- tuple
- bool
- frozenset

In [13]:
list1 = [1, 2, 3]
list1

print(type(list1))

# python list can contain multiple data type in a single instance
list2 = ["Shuvo", 1, 3, 1.212, 4 + 3j]

print(list2)

<class 'list'>
['Shuvo', 1, 3, 1.212, (4+3j)]

In [15]:
array = list(map(int, input().split()))

array

[4, 5, 1, 2, 3]

In [16]:
tuple1 = (1, "AB", 12, 3+4j)

tuple1

(1, 'AB', 12, (3+4j))

In [17]:
# tuples are also immutable

tuple1[0] = "a"

TypeError: 'tuple' object does not support item assignment

In [18]:
# However these operations are defined

tuple2 = tuple1 + (4,)
tuple2

(1, 'AB', 12, (3+4j), 4)

In [19]:
tuple3 = (1, [2, 3.5], 2.1)

tuple3[1].append(4)

tuple3

(1, [2, 3.5, 4], 2.1)

Since lists are mutable, we were able to change the list inside a tuple

### String Functions

In [20]:
phrase = "Amar Sonar Bangla"

print(phrase.capitalize())
print(phrase.upper())
print(phrase.isupper())
print(phrase[0])

print(len(phrase))

print(phrase.replace("Bangla", "London"))

# Beginning to 2nd index
print(phrase[:3])

# 4th index to end
print(phrase[4:])

# 5th index to 12th index
print(phrase[5:13])

"""
Syntax: phrase[start:stop:step]

start = 2 → include character at index 2
stop = 15 → go up to but not including index 15
step = 2 → take every 2nd character (stride 2)
So Python picks indices: 2, 4, 6, 8, 10, 12, 14.
"""
print(phrase[2:15:2])

Amar sonar bangla
AMAR SONAR BANGLA
False
A
17
Amar Sonar London
Ama
 Sonar Bangla
Sonar Ba
a oa ag

In [21]:
print(phrase[::2])

# Reverse of the string
print(phrase[::-1])

# Reverse of phrase[::2]
print(phrase[::-2])

Aa oa aga
algnaB ranoS ramA
aga ao aA

In [25]:
# index: -x means xth index from the end

print(phrase[-1])

print(phrase*2)

a
Amar Sonar BanglaAmar Sonar Bangla

In [24]:
# Works same for lists

listx = [1, 2, 3, 4, 5]

print(listx[::-1])

[5, 4, 3, 2, 1]

Dictionary

In [26]:
dict1 = {}

dict1["Jan"] = 31
dict1["Feb"] = 28

dict1

{'Jan': 31, 'Feb': 28}

In [27]:
dict2 = {"Jan": 31, "Feb": 28, "Shuvo": "Dip"}

dict3 = dict(Jan= 31, Feb= 28, Shuvo= 'Dip')

dict4 = {4.3:5, 1:2, 3:3}

dict2, dict3, dict4

({'Jan': 31, 'Feb': 28, 'Shuvo': 'Dip'},
 {'Jan': 31, 'Feb': 28, 'Shuvo': 'Dip'},
 {4.3: 5, 1: 2, 3: 3})

In [28]:
print(dict1["Jan"])
print(dict2.get("Shuvo"))
print(dict1.get("Mar", "Not Found hehe"))

31
Dip
Not Found hehe

In [29]:
print(dict1.keys())
print(dict1.values())

dict_keys(['Jan', 'Feb'])
dict_values([31, 28])

### Arithmetic Operations

In [30]:
i, j, k = 5, 10.5, 3

sum = i + j + k
diff = j - i
print(f"Sum: {sum}, Difference: {diff}")

mul = i*j
div = i/j
print(f"Multiplication: {mul}, Division: {div}")

exp = i**j
print("Exponential of i to j", exp)

Sum: 18.5, Difference: 5.5
Multiplication: 52.5, Division: 0.47619047619047616
Exponential of i to j 21836601.342771385

In [31]:
# integer division

idiv = i//k

print("Integral Division:", idiv)

# i++ or i-- isn't defined in python, however the following are
i = 5
print("I =", i)
i += 3
i %= 3

print("I =", i)

i **= 3;
print("I =", i)

Integral Division: 1
I = 5
I = 2
I = 8

### Bitwise Operation

In [37]:
a, b = 7, 14

# a = 0111, b = 1110


print(a & b)    # a & b = 0110 -> 6

print(a | b) # a | b = 1111 -> 15

print(a^b) # a ^ b = 1001 -> 9

print(~b)   # b = 0000 1110 ~b = 1111 0001

print(a << 1) # a << 1 = 1110
print(a >> 1) # a >> 1 = 0011

print(bin(123))

6
15
9
-15
14
3
0b1111011

### Logical Operator: and, not, or

In [41]:
x = int(input())

if x == 2 or x == 3:
    print("X is 2 or 3")
elif x == 5:
    print("X is 5")
else:
    print("X is unknown")

X is unknown

#### Membership Operation: in, not in

#### Identity Operation: is, is not

In [42]:
l1 = [1, 2, 3, 5]
l2 = [1, 2, 3, 5]
l3 = [12, 12, 1, 1]

print(2 in l1)
print(5 not in l2)
print(l1 is l2)
print(l1 is l3)
print(l1 is not l3)

True
False
False
False
True

#### Loops and Ranges

In [ ]:
list2 = list(range(1, 23))

# range(m, n) returns m to n-1

list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [48]:
i = 0

while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
# Notice here 'in' is a membership operator

for i in range(1, 10):
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7 8 9

In [51]:
fruits = ['Banana', 'Pineapple', 'Aam']

for fruit in fruits:
    print(fruit, end=' ')

print()

for index in range(0, len(fruits)):
    print(fruits[index], end=' ')

Banana Pineapple Aam
Banana Pineapple Aam

In [ ]:
num = [1, 3, 7, 5, 9, 11]

for n in num:
    if(n % 2 == 0):
        print("Even number found")
        break;
else:
    # Executed when loop is completed without hitting break
    print("No even number found")

No even number found

### Functions

In [55]:
def print_info(name, age):
    "A function to print names of user"
    print(f"Username: {name}, Age: {age}")

print_info("Shuvodip", 45)

Username: Shuvodip, Age: 45

In [58]:
def variableArgs(dept, *students):
    print(f"Department: {dept}")

    for student in students:
        print(student)


variableArgs("CE", "ModonChondro", ["MC", 123], "HEHE vai Das")

Department: CE
ModonChondro
['MC', 123]
HEHE vai Das

In [59]:
# Returning multiple data -> Returned as tuple

def multipleData():
    x = "Shuvodip"
    y = "12 Haha%^"

    return x, y

print(multipleData())

('Shuvodip', '12 Haha%^')